# Discord Configuration
DISCORD_BOT_TOKEN=your_bot_token
DISCORD_GUILD_ID=1430956912010330132
DISCORD_CHANNEL_ID=1430956912010330135
MIDJOURNEY_BOT_ID=936929561302675456

# API Server
PORT=3002

# Firebase
FIREBASE_PROJECT_ID=socialchatbot-717b7
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@socialchatbot-717b7.iam.gserviceaccount.com

# Backend API
BACKEND_API_URL=https://doors22-backend-8z1ky4zgs-ehtesham-amins-projects.vercel.app
